<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{user.details.title}">Detalles del usuario</h2>

		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{user.dni}">DNI</div>
			<div class="panel-body" th:text="${user.dni}">28276</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{user.name}">Nombre</div>
			<div class="panel-body" th:text="${user.name}">Ejercicio 1</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{user.lastName}">Apellidos</div>
			<div class="panel-body" th:text="${user.lastName}">100</div>
		</div>
		<h2 th:text="#{home.user.marks}">Notas del usuario</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th th:text="#{description}">Descripción</th>
						<th th:text="#{score}">Puntuación</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mark : ${markList}">
						<td th:text="${mark.id}">1</td>
						<td th:text="${mark.description}">Ejercicio 1</td>
						<td th:text="${mark.score}">10</td>
						<td><a th:href="${'/mark/details/' + mark.id}" th:text="#{options.details}">detalles</a></td>
						<td><a th:href="${'/mark/edit/' + mark.id}" th:text="#{options.modify}">modificar</a></td>
						<td><a th:href="${'/mark/delete/' + mark.id}" th:text="#{options.delete}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
<footer th:replace="fragments/footer" />
</html>
